body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  line-height: 26px;
  margin: 0 !important;
}

.block {
  padding: 20px 40px;
  text-align: center;
}

@media (max-width: 600px) {
  .block {
    padding: 20px 0;
  }
}

.links>a {
  margin: 0 1rem; }

.content {
  padding: 1rem; }

h2 {
  color: #FF9900; }

a {
  color: #269;
  text-decoration: none; }

a:hover{
  color: #1d5884;
  text-decoration: underline; }

.meta{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin: 0 auto; }
  
.logo{
  width: 100px;
  transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;}

.logo:hover{
  transform: rotate(-360deg)}

@keyframes c {
  0% {
    color: #39A0DB; }
  28.6% {
    color: violet; }
  57.2% {
    color: orange; }
  85.8% {
    color: indigo; }
  100% {
    color: #39A0DB; }
}

.an {
  animation: c 10s linear infinite; }

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
}

.splide__slide {
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.splide__slide img {
  /* height: 750px; */
  width: 100%;
  max-width: 850px;
}
.photo {
  max-width: 500px;
  border-radius: 5px;
  margin: 20px 0;
}

ul.splide__list {
  height: auto;
}

li img {
  border-radius: 10px;
}

.hide {
  display: none;
}

.toggle {
  background-color: #cc1886;
  cursor: pointer;
  margin: 1px;
  padding: 4px 0;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.about {
  margin-top: 3em;
}

footer nav {
  background-color: #FF9900;
  text-align: center;
  padding-bottom: 50px;
}

footer nav a {
  color: white;
  margin: 3rem auto;
}

nav.links {
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-transform:uppercase;
}

.icon {
  background-image: url('../images/_social.png');
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
  list-style: none;
  margin: 0 10px;
}
.ig {
  background-position: 0 0;
}
.tw {
  background-position: -80px 0;
}
.pi {
  background-position: -160px 0;
}
.tg {
  background-position: -240px 0;
}
.em {
  background-position: -320px 0;
}
