html {
  overflow-x: hidden;
}

body {
  /* font-family: "Work Sans", sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  font-size: 18px;
  background: #fff;
  color: #859196;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #FF9900;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #FF9900;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.45;
  font-weight: normal;
  color: #000;
}

.text-primary {
  color: #FF9900 !important;
}

.p-aside {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  float: left;
  min-height: 500px;
  overflow-y: scroll;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  background: #fff;
  z-index: 10;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .p-aside {
    -webkit-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    transform: translateX(-250px);
    padding-top: 40px;
  }
}

.p-aside.active {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

.p-aside .p-close-menu {
  position: absolute;
  right: 15px;
  color: #000;
  font-size: 14px;
  top: 20px;
  z-index: 20;
  text-transform: uppercase;
}

.p-aside .p-close-menu span {
  position: relative;
  font-size: 16px;
  top: 2px;
}

.p-aside .p-site-logo {
  padding: 30px 30px 30px 30px;
  position: relative;
}

.p-aside .p-site-logo .p-logo {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  color: #FF9900;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.p-aside .p-nav {
  padding-left: 30px;
}

.p-aside .p-nav ul {
  padding: 0;
  margin: 0;
}

.p-aside .p-nav ul li {
  padding: 0;
  margin: 0 0 10px 0;
  display: block;
  list-style: none;
  float: left;
  width: 100%;
}

.p-aside .p-nav ul li a {
  color: #000;
  padding: 3px 0;
  display: block;
  float: left;
  position: relative;
}

.p-aside .p-nav ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  left: 0;
  height: 2px;
  background: #FF9900;
  -webkit-transition: .3s width ease-out;
  -o-transition: .3s width ease-out;
  transition: .3s width ease-out;
}

.p-aside .p-nav ul li a:hover:after {
  width: 30px;
}

.p-aside .p-nav ul li.active a:after {
  width: 100%;
}

.p-aside .p-overflow {
  height: 500px;
}

.p-aside .p-aside-footer {
  font-size: 14px;
  padding-left: 30px;
  position: absolute;
  bottom: 20px;
}

.p-aside-social li {
  display: inline-block;
}

.p-aside-social a {
  display: inline-block;
  color: #666666;
  font-size: 20px;
}

.p-aside-social a:hover {
  color: #FF9900;
}

.p-main {
  width: calc(100% - 250px);
  float: right;
  padding: 30px;
  position: relative;
}

.p-main:before {
  background: rgba(0, 0, 0, 0.5);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .6s all ease;
  -o-transition: .6s all ease;
  transition: .6s all ease;
}

.p-main.mobile-open:before {
  visibility: visible;
  opacity: 1;
}

.p-main .p-bar {
  position: fixed;
  top: 0;
  padding: 20px 0;
  z-index: 5;
  background: #fff;
  width: calc(100% - 250px);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

@media screen and (max-width: 768px) {
  .p-main .p-bar {
    width: 100%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}

.p-main .p-bar .p-toggle {
  position: absolute;
  left: 15px;
  font-size: 20px;
  color: #000;
  z-index: 2;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.p-main .p-bar .p-main-site-logo {
  margin: 0 auto;
  width: 100px;
  text-align: center;
  position: relative;
}

.p-main .p-bar .p-main-site-logo a {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  letter-spacing: .05em;
}

@media screen and (max-width: 768px) {
  .p-main {
    width: 100%;
    padding: 30px 15px;
  }
}

@media screen and (max-width: 1140px) {
  .p-main .card-columns {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
  }
}

@media screen and (max-width: 960px) {
  .p-main .card-columns {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }
}

@media screen and (max-width: 768px) {
  .p-main .card-columns {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }
}

@media screen and (max-width: 576px) {
  .p-main .card-columns {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
  }
}

.p-main .card-columns .card {
  background: #e6e6e6;
  border: none;
  border-radius: 0px !important;
  margin-bottom: 20px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
  position: relative;
  opacity: 0;
  visibility: hidden;
}

.p-main .card-columns .card.img-loaded {
  opacity: 1;
  visibility: visible;
}

.p-main .card-columns .card a {
  position: relative;
  display: block;
}

.p-main .card-columns .card a:before {
  z-index: 1;
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.p-main .card-columns .card a .card-img-top {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.p-main .card-columns .card:hover,
.p-main .card-columns .card:focus {
  -webkit-transform: scale(0.96);
  -ms-transform: scale(0.96);
  transform: scale(0.96);
}

.p-main .card-columns .card:hover a:before,
.p-main .card-columns .card:focus a:before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  visibility: visible;
  opacity: 1;
}

.bg-image,
.p-cover {
  background-size: cover;
  background-repeat: no-repeat;
}

.p-cover {
  background-position: center center;
}

.p-cover .p-heading {
  font-size: 45px;
  line-height: 1.34;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .p-cover .p-heading {
    font-size: 37px;
    line-height: 1.3;
  }
}

.p-cover .p-subheading,
.p-cover p {
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 768px) {
  .p-cover .btn {
    width: 100% !important;
    border: 1px solid red;
  }
}

.p-cover a {
  position: relative;
  color: #fff;
}

.p-cover a:before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FF9900;
  height: 2px;
  content: " ";
}

.p-cover.overlay {
  position: relative;
}

.p-cover.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.btn {
  border-radius: 4px;
  padding: 20px 30px;
  font-size: 14px;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.btn:before {
  display: none;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.btn-primary {
  background: #FF9900;
  border-color: #FF9900;
  color: #fff;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
  border-color: #178277;
  background: #178277;
}

.btn.btn-outline-white {
  border-color: rgba(255, 255, 255, 0.2);
  background: none;
}

.btn.btn-outline-white:hover,
.btn.btn-outline-white:focus,
.btn.btn-outline-white:active {
  background: #fff;
  border-color: #fff;
  color: #000;
}

.form-control {
  border: 2px solid rgba(0, 0, 0, 0.2);
  height: 55px;
  background: none !important;
  color: #000 !important;
  font-size: 18px;
}

.form-control:focus,
.form-control:active {
  border: 2px solid #000;
}

textarea {
  height: inherit !important;
}

.p-vh-100 {
  height: 100vh;
}

@media screen and (max-width: 960px) {
  .p-vh-100 {
    height: inherit;
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

.p-vh-75 {
  height: 75vh;
}

@media screen and (max-width: 960px) {
  .p-vh-75 {
    height: inherit;
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

.bg-primary {
  background: #FF9900 !important;
}

.p-section,
.p-footer {
  padding: 7em 0;
}

.p-section .p-heading,
.p-footer .p-heading {
  font-size: 40px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {

  .p-section .p-heading,
  .p-footer .p-heading {
    font-size: 30px;
  }
}

.p-bg-dark {
  background: #263135;
}

.p-footer {
  font-size: 16px;
}

.p-footer .p-footer-logo {
  text-transform: uppercase;
  letter-spacing: .1em;
}

.p-footer .p-footer-widget h2 {
  font-weight: normal;
}

.p-footer p {
  color: rgba(255, 255, 255, 0.3);
}

.p-footer.p-bg-dark {
  background: #222b2f;
}

.p-footer a {
  color: rgba(255, 255, 255, 0.3);
}

.p-footer a:hover {
  color: #FF9900;
}

.p-footer .p-heading {
  font-size: 24px;
}

.p-footer .p-heading-2 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.p-footer-social li {
  list-style: none;
  margin: 0 10px 10px 0;
  display: inline-block;
}

.p-footer-social li a {
  height: 60px;
  width: 60px;
  display: block;
  float: left;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  position: relative;
}

.p-footer-social li a span {
  position: absolute;
  font-size: 26px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer-small-nav>li {
  display: inline-block;
}

.footer-small-nav>li a {
  margin: 0 10px 10px 0;
}

.footer-small-nav>li a:hover,
.footer-small-nav>li a:focus {
  color: #FF9900;
}

.media .p-icon {
  width: 100px;
}

.media .p-icon span {
  color: #FF9900;
}

.p-media {
  border: 1px solid #e6e6e6;
}

.p-media.text-center .p-icon {
  margin: 0 auto;
}

.logo {
  height: 140px;
  width: 140px;
  margin: 40px auto;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.logo:hover {
  transform: rotate(-350deg);
  -webkit-transform: rotate(-350deg);
}

.icon-social {
  height: 40px;
  width: 40px;
  filter: saturate(0);
}

.icon-social:hover {
  filter: saturate(1);
}

.p-overflow-hidden {
  overflow: hidden;
}

.padding-top-bottom {
  padding-top: 120px;
  padding-bottom: 120px;
}

.p-owl {
  position: relative;
  z-index: 1;
}

.p-owl .owl-nav {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  z-index: 10;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.p-owl .owl-nav .owl-prev,
.p-owl .owl-nav .owl-next {
  position: absolute;
  font-size: 30px;
  background: #FF9900;
  color: #fff;
  padding: 10px;
  line-height: 0;
}

.p-owl .owl-nav .owl-prev {
  left: 0;
}

.p-owl .owl-nav .owl-next {
  right: 0;
}

.p-owl .owl-dots {
  position: relative;
  text-align: center;
  margin-top: 30px;
}

.p-owl .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}

.p-owl .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin: 5px 7px;
}

.p-owl .owl-dots .owl-dot.active span {
  background: #FF9900;
}

.p-owl:hover .owl-nav {
  visibility: visible;
  opacity: 1;
}

.p-animate {
  opacity: 0;
  visibility: hidden;
}

#p-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000;
}

#p-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#p-loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#p-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

#p-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}