{{ define "main" }}
<article class="max-w-5xl mx-auto px-4">
  <h1 class="text-4xl font-bold mb-4">{{ .Title }}</h1>
  <div class="text-gray-600">{{ .Content }}</div>

  <div class="flex">
    {{ range .Data.Pages -}}
    <a class="block m-4 my-6 p-4 rounded shadow-md" href="{{ .RelPermalink }}">
      {{ $img := (.Resources.ByType "image").GetMatch "featured*" }}

      {{ $title := .Params.title }}
      {{ with $img }}
      <img class="rounded max-w-xs m-4" src="{{ $img.RelPermalink }}" alt="{{ $img.Title }}" />
      {{ end }}
      <h2 class="text-xl font-semibold mb-1">{{ $title }}</h2>
      <p class="font-light mb-2 text-gray-500 text-sm">
        {{ .Params.date.Format "January 2, 2006" }}
      </p>
      <div class="font-light text-gray-800 dark:text-gray-200">
        {{ .Summary | safeHTML }}
      </div>
    </a>
    {{ end -}}
  </div>
</article>
{{ end }}