/* Custom Styles */
body {
  font-family: "Inter", sans-serif;
}

/* Fonts */

/* inter-300 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/inter-v3-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/inter-v3-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("/fonts/inter-v3-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("/fonts/inter-v3-latin-300.woff") format("woff"),
    /* Modern Browsers */
    url("/fonts/inter-v3-latin-300.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("/fonts/inter-v3-latin-300.svg#Inter") format("svg");
  /* Legacy iOS */
}

/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/inter-v3-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/inter-v3-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("/fonts/inter-v3-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("/fonts/inter-v3-latin-500.woff") format("woff"),
    /* Modern Browsers */
    url("/fonts/inter-v3-latin-500.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("/fonts/inter-v3-latin-500.svg#Inter") format("svg");
  /* Legacy iOS */
}

/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/inter-v3-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/inter-v3-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("/fonts/inter-v3-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("/fonts/inter-v3-latin-700.woff") format("woff"),
    /* Modern Browsers */
    url("/fonts/inter-v3-latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("/fonts/inter-v3-latin-700.svg#Inter") format("svg");
  /* Legacy iOS */
  -webkit-font-smoothing: subpixel antialiasing !important;
}

#fullpage {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: black;
}

img {
  margin: auto;
}

.comic-page {
  height: fit-content;
  max-height: 98vh;
  margin: 1px;
}

#container button {
  border-width: 1px;
  border-radius: 0.25rem;
  border-color: rgba(209, 213, 219, 1);
  background-color: rgba(229, 231, 235, 1);
  margin: 2px 4px;
  max-width: 90px;
}