<section class="my-20 mx-auto">
  <!-- <div class="font-bold text-center">
    <h1 class="text-3xl my-10">Support me on Patreon</h1>
    <p>If you enjoy the stuff I'm doing please consider supporting me on Patreon.</p>
    <p>You can get lot of nice stuff, like early access to my comics, work in progress, sketches and commissions.</p>
    <div class="flex flex-wrap justify-center">
      <a href="{{.Site.Params.homepage.social.patreon}}" rel="noopener noreferrer" target="_blank">
        <img src="/icon/patreon.png" alt="patreon icon" width="100px" />
      </a>
    </div>
    <p>Even a small pledge can go a very long way &lt;3 </p>
  </div> -->
</section>