<section class="my-4">
  <div class="flex flex-wrap justify-center">
    {{ with .Site.Params.authorEmail }}
    <a href="mailto:{{.}}" rel="noopener noreferrer" target="_blank" aria-label="Email">
      <img src="/icon/email.png" alt="email icon" width="70px" />
    </a>
    {{ end }}

    {{ with .Site.Params.homepage.social.patreon }}
    <a href="{{.}}" rel="noopener noreferrer" target="_blank">
      <img src="/icon/patreon.png" alt="patreon icon" width="70px" />
    </a>
    {{ end }}

    {{ with .Site.Params.homepage.social.telegram }}
    <a href="{{.}}" target="_blank" rel="noopener noreferrer" aria-label="Telegram">
      <img src="/icon/telegram.png" alt="telegram icon" width="70px" />
    </a>
    {{ end }}

    {{ with .Site.Params.homepage.social.reddit }}
    <a href="{{.}}" target="_blank" rel="noopener noreferrer" aria-label="Reddit">
      <img src="/icon/reddit.png" alt="reddit icon" width="70px" />
    </a>
    {{ end }}

    {{ with .Site.Params.homepage.social.linktree }}
    <a href="{{.}}" target="_blank" rel="noopener noreferrer" aria-label="Linktree">
      <img src="/icon/linktree.png" alt="linktree icon" width="70px" />
    </a>
    {{ end }}

    {{ with .Site.Params.homepage.social.twitter }}
    <a href="{{.}}" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
      <img src="/icon/twitter.png" alt="twitter icon" width="70px" />
    </a>
    {{ end }}

    {{ with .Site.Params.homepage.social.instagram }}
    <a href="{{.}}" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
      <img src="/icon/instagram.png" alt="instagram icon" width="70px" />
    </a>
    {{ end }}
  </div>
</section>