<div style="display: flex; margin: auto; justify-content: space-between;">
  <button onclick="v.prev()"> - </button>
  <img id="image_0" src="" class="comic-page" />
  <img id="image_1" src="" class="comic-page" />
  <button onclick="v.next()"> + </button>
</div>

<script src="/js/gallery.js"></script>
<script>

  const pages = [
  {{ with ($.Page.Resources.Match "pages/*") }}
    {{ range . }}
    "{{ .RelPermalink }}",
    {{ end }}
  {{ end }}
    "/thanks-for-watching.png",
  ];

  const v = viewer({ pages, isDouble: true });
</script>
